h1{
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:flex;
    align-items: end;
    justify-content:center;
    padding-bottom: 7px;
    box-shadow: 5px 5px 4px rgb(31, 29, 29);
}
.para2{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100px;
    background-color: rgb(121, 106, 106);
    border-radius:10px;
    padding-top:5px;
    box-shadow:5px 5px 5px rgb(182, 85, 85)
}
.sub1-para2{
    font-size:30px;
    font-weight:600;
    font-style: italic;
    background-color: green;
    color:white;
}
.sub2-para2{
    color:red;
    font-size:25px;
    font-weight:400;
    font-style:italic;
    text-decoration: underline;
    background-color: white;

}
.form{
    background-color:rgb(75, 98, 75);
    margin-top:10px;
    height:400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.form-para{
    font-size:20px;
    color:white;
    background-color: green;
    border-radius:10px;
    text-decoration: underline;
    font-style: italic;

}
.inputs{
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 70%;
    width: 65%;
    padding: 7px;
}
.input-fields::placeholder{
    font-size: 15px;
    font-weight:700;
    font-style:italic;
    color:rgb(26, 70, 136)
}

